<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Alpha Blog</title>
  </head>
  <body>
    <h1>About Alpha Blog</h1>
    <% 
    number = 5 + 4git
    num1 = number += 5
    %>
    
    <p>The number is <%= num1 %></p>
    
    <p><%= link_to 'Homepage Link', root_path %></p>
  </body>
</html>