$navbar-default-bg: #2196F3;
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar navbar-default {
  color: white;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("bg.jpg");
  background-size: cover;
  height: 450px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: 900;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #fff;
  color :#000;
  padding: 15px;
}

.btn-xlarge:hover {
  font-size: 1.7em;
  background-color: #2196F3;
  color :#fff;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
}

.description {
  margin-top: 0;
}

footer {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}