<div class ="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.studiointhecloud.co.uk">Studio in the Cloud</a> | Ruby on Rails Blog Application
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>